.item-page-container {
  width: 100%;
  /* margin-top: 150px; */
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 25px;
  height: 600px;
}

.item-page-img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.item-page-desc {
  margin-top: -30px;
}

.item-page-container .cart-item-actions {
  margin: 0;
  gap: 20px;
}

.item-page-container .btn-submit {
  margin: 0;
}

.item-page-container .color-container {
  margin: 0;
}
